.tile {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: lightgray;
}

.tile:hover {
    background-color: yellow;
}

.live {
    background-color: black;
}

.active {
    background-color: blue;
}
